
body {
  background-image: url("../images/Stormtrooper.jpg");
  background-repeat: no-repeat;
}

#main {
  display: contents;
}

div {
  display: block;
}

.container {
  overflow: hidden;
  box-sizing: border-box;
  float: center;
  margin-left: auto;
  margin-top: 200px;
  position: relative;
}

.btn {
  margin-top: 200px
  float: right;
  margin-right: 100px;
}

#center {
  box-sizing: border-box;
  margin-left: auto;
  margin-top: 10px;
  position: relative;
  width: 800px;
  height: 800px;
  display: block;
}

#good {
  margin-top: 50px;
  margin-left: 5px;
  width: 200px;
  height: 200px;
}

#bad {
  margin-right: 5px;
  margin-left: 10px;
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

#choose {
  width: 400px;
  height: 40px;
  margin-top: 2px;
}

#side {
  width: 500px;
  height: 500px;
}

#xwing {
  width: 180px;
  height: 200px;
  margin-top: 2px;
}

#falcon {
  width: 200px;
  height: 200px;
  margin-top: 2px;
}

#ywing {
  width: 120px;
  height: 200px;
  margin-top: 2px;
}

#character {
  width: 800px;
}

#tatooine {
  width: 250px;
  height: 200px;
  margin-top: 75px;
}

#board {
  width: 800px;
  height: 400px;
  text-align: center;
}

#chooseDestination {
  margin-top: 5px;
  width: 700px;
}

#backstar {
  width: 250px;
  height: 200px;
  margin-top: 75px;
  margin-left: 100px;
}

#tiefighter {
  width: 175px;
  height: 190px;
  margin-top: 2px;
}

#tiefighter2 {
  width: 230px;
  height: 150px;
  margin-top: 2px;
}

#deathstar {
  width: 1900;
  height: 190px;
  margin-top: 2px;
}

#gameBoard {
    height: 700px;
    margin-right: 20px;
}

#youlose {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 700px;
}

#youwin {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 700px;
}

#gameover {
 width: 700px;
 margin-top: 250px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

#gamewin {
 width: 700px;
 margin-top: 250px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

#gameOver {
 text-align: center;
}

#gameWin {
 text-align: center;
}

/* #userPlayCharacter {
  width: 1%;
  height: 1%;
} */
